* {
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    background-image: url('bg.jpeg');
    background-position: contain;
    color: white;
    text-shadow: 0 0 2px blue;
}

h1 {
    text-align: center;
    font-size: 2.8em;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;

}

main {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: rgba(250,250,250,0.8);
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 15px 15px 5px grey;
    margin: auto;
}

main div{
    border: 2px solid black;
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

main div:hover, .checked{
   background-color: rgba(200,200,200,0.3);
   box-shadow: 0 0 4px blue;
}

.checked {
   animation: spin 0.7s linear;
}

@keyframes spin {
    100% { transform: rotate(360deg); } }

button {
    height: 120px;
    width: 150px;
    display: none;
}

div#right-side{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.container-timer_and-counter {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.btn-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

button {
    text-shadow: inherit;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 4px blue;
    background-color: rgba(250,250,250,0.6);
}

button:hover {
    background-color: rgba(250,250,250,0.8);
    font-size: 1.4em;
}


#timer,#counter {
    border: 2px solid black;
    width: 100%;
    height: 100%;
}


